.about-content{
    display: flex;
    align-items: center;
    
    .about-content__img{
        margin-right: 70px;
    }
    .about-content__inner{
        .about-content__header{
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 15px;
        }
        .about-content__description{
            font-size: 15px;
        }
    }
    @media (max-width: 991px){
        display:block;
        .about-content__img{
            margin-right: 0px;
            margin-bottom: 2rem;
        }
    }
}