.main-films{
    .card-wrapper{
        width: 25%;
        margin: 0px 0px 25px 0px;
        .card__inner{
            width: 180px;
            margin: 0 auto;
        }
        .card__img{
            max-width: 180px;
            filter: drop-shadow(0px 5px 25px rgba(119, 119, 119, 0.08));
            border-radius: 20px;
            width: 100%;
            height: 260px;
        }
        .card__content{
            margin-top: 20px;
            padding-right: 10px;
        }
        .card__title{
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
    }
    @media (max-width: 1399px){
        .card-wrapper{
            max-width: unset;
            width: 33.3%;
        }

    }
    @media (max-width: 1199px){
        .card-wrapper{
            max-width: unset;
            width: 50%;
        }
    }
    @media (max-width: 575px){
        .card-wrapper{
            max-width: unset;
            width: 100%;
        }
    }
}
.search-result,.films-by-category{
    .card-wrapper{
        width: 48%;
        @media (max-width: 991px){
            width: 100%;
        }
        .card__inner{
            height: 229px;
            margin: 0px 0px 25px 0px;
            display: flex;
            @media (max-width: 1399px){
                width: 400px;
            }
            .card__img-wrapper{
                margin-right: 43px;
                min-width: 185px;
                .card__img{
                    filter: drop-shadow(0px 5px 25px rgba(119, 119, 119, 0.08));
                    border-radius: 20px;
                    width: 185px;
                    height:100%;
                }
                .card__title{
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 25px;
                }
                .card__text-country{
                    display: none;
                }            
            }
        }
    }

    .card-wrapper:nth-child(2n){
        margin-right: 0px;
    }
}
.search-result,.films-by-category,.main-films{
    .card{
        border-radius: 20px;
        transition: background 0.25s ease;
    }
    .card:hover{
        background: rgba(103, 65, 33, 0.188);
        transition: background 0.25s ease;
    }    
}


