.App{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 0fr 1fr 0fr;
}
a p{
    color: #333;
}
main{
    
}
.main-content{
    padding: 40px 90px;
    background: #fff;
    border-radius: 20px;
    @media (max-width: 767px){
        padding: 40px 20px;
    }
    @media (max-width: 575px){
        padding: 40px 0px;
    }
}
.container{
    width: 1320px;
    margin: 0 auto;
    @media (max-width: 1399px){
        width: 1140px;
    }
    @media (max-width: 1199px){
        width: 960px;
    }
    @media (max-width: 991px){
        width: 720px;
    }
    @media (max-width: 767px){
        width: 540px;
    }
    @media (max-width: 575px){
        width: auto;
    }
}