select#select-category{
    display: inline;
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 1rem;
    border: none;
    font-weight: 700;
    font-size: 30px;
    color: #E59C9C;
    border-width: 0px;
    span{
        font-weight: 700;
        color: #E59C9C;
    }
}