.home-header{
    text-align: center;
    margin-bottom: 50px;
    .home-header__title{
        color: #E59C9C;
        font-weight: 700;
        font-size: 60px;
        margin-bottom: 20px;
        @media (max-width: 575px){
            font-size: 30px;
            margin-bottom: 0px;
        }
    }
    .home-header__text{
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        color: #FFFFFF;
        @media (max-width: 575px){
            font-size: 20px;
        }
    }
}