.main-content.main-content_black{
    background: #000;
    img{
        margin: 0 auto;
    }
}
.film-detail{
    display: flex;
    @media (max-width: 991px){
        display: block;
    }
    .film-detail__img{
        min-width: 250px;
        @media (max-width: 991px){
            margin-bottom: 2rem;
        }
        filter: drop-shadow(0px 5px 25px rgba(119, 119, 119, 0.08));
        img{
            border-radius: 20px;
        }
    }
    .film-detail__inner{
        .film-detail__title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 65px;
            @media (max-width: 991px){
                margin-bottom: 2rem;
            }
            .film-detail__name{
                color: #E59C9C;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 28px;
            }
            .film-detail__score{
                font-weight: 800;
                font-size: 27px;
                display: flex;
                align-items: center;
            }
            .film-detail__score::before{
                content: '';
                display: block;
                margin-right: 11px;
                height: 43px;
                min-width: 43px;
                background: url("../../images/star.png") no-repeat center / contain;
            }
        }
        .film-detail__content{
            .film-detail__release-date,
            .film-detail__country,
            .film-detail__genre{
                .film-detail__content-row{
                    .film-detail__content-ordinary{
                      text-transform: uppercase;  
                    }
                }
                
            }
            .film-detail__content-row{
                display: flex;
                margin-bottom: 22px;
                @media (max-width: 575px){
                    display: block;
                }
                b{
                    display: block;
                    min-width: 170px;
                    font-weight: 700;
                    font-size: 16px;
                    text-transform: uppercase;
                } 
                .film-detail__content-ordinary{
                    font-weight: 600;
                    font-size: 14px;
                    text-align: justify;
                }
            }
            
        }
    }
}