.head{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    margin-bottom: 90px;
    align-items: center;
    .logo{
        width: 185px;
        height: 41px;
        background: url("../../images/logo.svg");
    }
    .menu{
        display: flex;
        justify-content: space-between;
        .menu__item{
            margin-right: 60px;
            transition: color 0.3s ease-out;
        }
        .menu__item:hover{
            color: #E59C9C;
            transition: color 0.3s ease-in;
        }
        .menu__item_active{
            color: #E59C9C;
            text-decoration-line: underline;
        }
    }
}