.text-notification{
    text-align: center;
}
.search-result-wrapper{
    h1{
        margin-bottom: 31px;
    }
    .search{
        position: relative;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        .search__button{
            position: absolute;
            height: 22px;
            width: 22px;
            background: url("../../images/loop.svg");
            left: 22px;
        }
        .search__input{
            width: 100%;
            border: 1px solid #888888;
            border-radius: 20px;
            height: 40px;
            padding: 0  0 0 50px;
        }
    }
    .search-result{
        .search-result__header{
            margin-bottom: 40px;
        }
    }
}
