
footer{
    grid-row-start: 3;
    grid-row-end: 3;
    padding: 57px 0;
    background: #3A3A3A;
    margin-top: 100px; 
}
.footer-inner{
    display: flex;
    .logo{
        width: 45%;
    }
    p{
        color: #fff;
    }
    .footer-theme-wrapper{
        display: flex;
        justify-content: space-between;
        width: 55%;
        @media (max-width: 767px){
            flex-direction: column;
            text-align: right;
        }
    }

    .made{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        text-align: right;
    }
    @media (max-width: 767px){
        align-items: center;
        .logo{
            width: 100%;
        }
        .footer-theme-wrapper{
            width: 100%;
        }
    }
    @media (max-width: 500px){
        display: block;
        .logo img{
            margin: 0 auto 15px auto;
        }
        .made,.footer-theme-wrapper{
            text-align: center;
        }
        p{
            margin-bottom: 10px;
        }
    }
}